# params.pp
class wipe::params {
  $mac_addr = $::macaddress

  case $::macaddress {
    '08:00:27:5b:24:2d': { # agentubuntu Works - checked!
      $redalert = 'False'
    }
    '08:00:27:53:ed:98': { # agentfedora
      $redalert = 'False'
    }
#    '08:00:27:5a:87:f7': { # macosx
    '08:00:27:ef:54:d8': { # macosx2
      $redalert = 'False'
    }
  }
}
